@import 'https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Nunito';
/*
	Fonte título e tag: 	font-family: 'Nunito', sans-serif;
	Fonte demais textos: 	font-family: 'Droid Sans Mono', monospace;

*/
*{
	margin: 0;
	padding: 0;
}

body{
	margin: auto;
	width: 900px;
}

/*Cabeçalho */
header{
	margin-top: 10px;
	height: 90px;
}

header div input{
	margin-top: 40px;
	font-size: 14pt;
	padding: 2px;
}

h6{
	font-size: 18pt;
}

#logo{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#titulo-header{
	float: left;
	text-align: center;
	margin-top: 25px;
	margin-right: 70px;
	margin-left: 88px;

}

.subtitulo-header{
	font-size: 12pt;
	text-align: center;
}

/*Menu Principal Nav*/
nav{
	margin-top: 3px;
}

nav>hr{
	border: solid 3px green;
}

nav>ul{
	padding: 3px;
	margin-left: 5%;
}

nav ul li{
	list-style: none;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

nav ul li a {
	color: #000;
	text-decoration: none;
}

nav ul li a:hover {
	color: #000;
	text-decoration: underline;
}

.borda-menu{
	border-left: #00923F solid 2px;
}

/*Aside*/
aside {
	float : right;
	width: 195px;
	height: 980px;
}

#linha-aside{
	margin-left: -1px;
	float: left;
	height: 980px;
	background-color: #00923F;
	width: 4px;
}

aside #titulo-anuncio{
	background-color: #00CA56;
	margin: 3px 7px 5px 7px;
	padding: 10px;
}

#titulo-anuncio h3{
	text-align: center;
	color: #FFFFFF;
}

.anuncio-left{
	margin: 3px 5px 0 8px;
}

/* Notícia Principal */
#newsPrincipal{
	margin-top: 5px;
	margin-left: 5px;
}

#foto{
	width: 440px;
	float: left;
}

#noticia{
	width: 455px;
	height: 265px;
	float: left;
	margin-bottom: 10px;
}

#newsPrincipal img{
	width: 440px;
	height: 265px;
}

#newsPrincipal h1{
	font-family: 'Nunito', sans-serif;
	font-size: 16pt;
	color: #00CA56;
}

#newsPrincipal h2{
	font-family: 'Droid Sans Mono', monospace;
	margin-top: 2px;
	font-size: 11pt;
	font-weight: bold;
	color: #AAAAAA;
}

#newsPrincipal p{
	margin-top: 3px;
	font-family: 'Droid Sans Mono', monospace;
	font-size: 12pt;
	text-align: justify;
}

.newsPrincipal{
	width: 440px;
	margin-left: 10px;
}

.hr-principal{
	border: solid 2px #00923F;
}
/*noticias bloco 2*/

#Quadro-Policia-1{
	margin: 0px 4px 5px 5px;
	padding: 2px 5px 5px 5px;
	width: 333px;
	height: 350px;
	float: left;
}

#Quadro-Policia-2{
	margin: 0px 4px 5px 5px;
	padding: 2px 5px 5px 5px;
	width: 333px;
	height: 350px;
	float: left;
}

.tag-policia{
	font-family: 'Nunito', sans-serif;
	color: #065A82;
	font-size: 12pt;
}

.titulo_policia{
	font-family: 'Nunito', sans-serif;
	color: #065A82;
}

.texto-policia{
	font-family: 'Droid Sans Mono', monospace;
	text-align: justify;
	font-size: 10pt;
	padding-top: 2px;
}

.imagem-policia{
	margin-top: 2px;
}

.hr-policia{
	border: solid 2px #065A82;
}

/*noticias bloco 3*/

#Quadro-esportes{
	width: 695px;
	margin: 5px;
	background-color: #00CA56;

}

/*anuncio rodapé*/

.anuncio-rodape{
	margin-left: 10%;

}

/*noticias bloco geral -4*/
#geral-1{
	width: 214px;
	height: 260px;
	margin: 5px;
	padding: 5px;
	float: left;
	background-color: blueviolet;
}

#geral-2{
	width: 214px;
	height: 260px;
	margin: 5px;
	padding: 5px;
	float: left;
	background-color: chartreuse;
}

#geral-3{
	width: 214px;
	height: 260px;
	margin: 5px;
	padding: 5px;
	float: left;
	background-color: coral;
}

/*anuncios-footer*/

#anuncios-footer img{
	margin-left: 3px;
}

footer{
	background-color: #00CA56;
	height: 50px;
}

footer p {
	padding-top: 18px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
